<div id="main">
	<div class="grid">
		<figure class="effect-julia">
			<img src="images/rand.jpg" alt="img21"/>
			<figcaption>
				<h2><span>Technical &nbsp;&nbsp;&nbsp;</span>EVENTS</h2>
				<div>
					<p>Computers and IT events</p>
					<br>
					<p>Meachanical events</p>
					<br>
					<p>Electrical events</p>
					<br>
					<p>Electronic events</p>
				</div>
			</figcaption>			
		</figure>
		<figure class="effect-julia">
			<img src="images/rand.jpg" alt="img22"/>
			<figcaption>
				<h2>Oratory <span>EVENTS</span></h2>
				<div>
					<p>Debate</p>
				</div>
			</figcaption>			
		</figure>
	</div>
</div>
<script>
function show () {
	alert("first")
	// body...
}
</script>